/* Selection */
::selection {
  background-color: #1f4e5f;
  color: #fff;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #4faed4;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3a91b8;
}

/* Custom Animations */
.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.light {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 20%,
    rgba(79, 174, 212, 0.3) 70%,
    rgba(79, 174, 212, 0) 100%
  );
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: screen;
  animation: move-light linear infinite;
}
@keyframes move-light {
  0% {
    transform: translate(var(--start-x), var(--start-y));
  }
  25% {
    transform: translate(var(--mid1-x), var(--mid1-y));
  }
  50% {
    transform: translate(var(--mid2-x), var(--mid2-y));
  }
  75% {
    transform: translate(var(--mid3-x), var(--mid3-y));
  }
  100% {
    transform: translate(var(--start-x), var(--start-y));
  }
}

/* Animated Light Background */
.animated-light-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(79, 174, 212, 0.1) 0%,
    rgba(46, 106, 121, 0.1) 100%
  );
  z-index: 0;
  pointer-events: none;
}
