<header id="header">
  <div class="nav-pill">
    <a href="#" class="logo" id="nav-logo"><div class="logo-icon"><img src="/icono.png" alt="CC" /></div></a>
    <nav id="main-nav">
      <a href="#inicio">Inicio</a>
      <a href="#proceso">Proceso</a>
      <a href="#about">Sobre mí</a>
      <a href="#servicios">Servicios</a>
      <a href="#resenas">Reseñas</a>
    </nav>
  </div>
</header>
